.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.poke__list {
  list-style-type: none;
}

.poke__list {
  display: flex;
  
}

.poke__card {
  margin: 1px;
  border: black solid;
  width: 200px;
  padding: 30px;
  text-align: center;
}
