body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }
    
}