body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bounce {
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slideIn {
  animation: slideFromLeft 0.5s linear;
}

p:hover {
  transform: scale(1.2);
  font-weight: 800;
}

table{
  border: 2px solid black;
  width: 80vw;
  text-align: center;
  border-collapse:separate;
  border-spacing: 10px 15px;
}

td{
  border: 1px solid grey;
  padding: 10px;
}


@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }

  62.5% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  75% {
    transform: translateX(5vw);
  }
  100% {
    transform: translateX(0);
  }
}
